/* CSS RESETS */
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 0;
}
img {
    max-width: 100%;
}
* {
    box-sizing: border-box;
}
/* !! */
body {
    background-color: #638CAA;
    animation: transitionIn 0.75s;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
   }
    to {
        opacity: 1;
        transform: rotateX(0);
   }
}
h2 {
    font-size: 31px;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}
p {
    text-indent: 35px;
    font-size: 23.1px;
    text-align: justify;
    line-height: 1.35;
    color: #FFFFFF;
    word-spacing: 1px;
    padding-top: 18px;
}
h3 {
    font-size: 32px;
    color: #FFFFFF;
}
.Mac {
    background-color: #DBDBDB;
}
.iPad {
    background-color: #BCB9AA;
}
.iPhone {
    background-color: #9CE0D1;
}
.About {
    background-color: #9AA7B8;
}
.dev_color {
    background-color: #B7CED6;
}
.MacBook {
    background-color: #F09E84;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 10%;
    align-items: center;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin-top: 1.5rem;
}
nav ul li a{
    transition: all 0.3 ease-in;
}
nav ul li a:hover {
    color: #A5A89F;
    text-decoration: underline;
    text-decoration-color: #FF0000;
}
nav ul li:not(:first-child) {
    padding-left: 1rem;
}
.navbar img {
    width: 3%;
}
.main_logo img {
    width: 37%;
    display: block;
    margin: 0 auto 18px auto;
}
.icon {
    float: left;
    width: 25%;
    text-align: center;
}
.product {
   font-size: 5rem;
    padding-bottom: 1.0rem;
}
.wrapper {
    content: "";
    clear: both;
    width: 100%;
    display: block;
}
.fr_row {
    width: 50%;
}
.overlay img {
    width: 33%;
}
.overlay {
    padding: 2rem 2rem;
}
.three {
    width: 33.333%;
}
span {
    color: #FFFFFF;
}
h4 {
    padding-bottom: 10px;
    font-size: 2rem;
}
.social ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    padding-left: 0;
}
.social li {
    margin: 5.5rem 6.5rem;
}
.social a {
    font-size: 2.5rem;
}
.cright {
    background-color: #534555;
    text-align: center;
    padding: 2rem;
}
